<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div *ngIf="!passwordChanged" class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Change password.
        </h1>
        <form class="space-y-4 md:space-y-6" (submit)="sendChangePasswordRequest()" [formGroup]="formService.getForm()">
          <div class="mt-2">
            <app-input label="New password" inputType="password" placeHolder="**********"
                       [formControlInput]="formService.getFormControl('password')"></app-input>
          </div>
          <button type="submit"
                  class="transition-all w-full dark:text-white bg-gray-100 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg px-5 py-2.5 text-center dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-primary-800">
            Change password
          </button>
        </form>
      </div>
      <div *ngIf="passwordChanged" class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Password changed, you can close this window.
        </h1>
      </div>
    </div>
  </div>
</section>
