<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Create a new account
        </h1>
        <form class="space-y-4 md:space-y-6" [formGroup]="formService.getForm()" (submit)="sendCreateUserRequest()">
          <div class="mt-2">
            <app-input label="Full name" inputType="text" [formControlInput]="formService.getFormControl('full_name')"></app-input>
          </div>
          <div class="mt-3">
            <app-input label="Email" inputType="email" placeHolder="example@gmail.com"

                       [formControlInput]="formService.getFormControl('email')"></app-input>
          </div>
          <div class="mt-3">
            <app-input label="Password" inputType="password" placeHolder="**********"
                       [formControlInput]="formService.getFormControl('password')"></app-input>
          </div>
          <button type="submit"
                  class="transition-all w-full dark:text-white bg-gray-100 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg px-5 py-2.5 text-center dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-primary-800">
            Sign up
          </button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Already have an account? <a routerLink="/auth/login"
                                        class="font-medium text-primary-600 hover:underline dark:text-primary-500">Log
            in</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
